version: "3.8"
services:
  db:
    image: postgres:14
    environment:
      POSTGRES_USER: hc_user
      POSTGRES_PASSWORD: hc_pass
      POSTGRES_DB: healthcamp_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
